name: gomobile build
run-name: ${{ github.actor }} is testing out GitHub Actions
on: [push]
jobs:
  gomobile-build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: '1.20.6'
      - run: go version
      - run: mkdir -p common
      - run: echo "${{ secrets.EMPTY_CREDS }}" > common/empty.creds
      - run: cat common/empty.creds
      - run: go build
      - run: ./testx
      - name: List files in the repository
        run: |
          ls ${{ github.workspace }}
      - uses: actions/upload-artifact@v3
        with:
          name: my-artifact
          path: common/empty.creds
      - run: echo "This job's status is ${{ job.status }}."
